/* You can add global styles to this file, and also import other style files */

/* Target individual tabs */
.mat-mdc-tab.mdc-tab {
  margin: auto !important;
  background-color: antiquewhite !important;
  font-family: Menlo !important;
  font-color: navy !important;
  font-size: xxx-large !important;
}

.mat-card {
  margin: auto !important;
  background-color: antiquewhite !important;
}

.mat-card-header {
  margin: auto !important;
  background-color: antiquewhite !important;
  font-family: Menlo !important;
  font-color: navy !important;
  font-size: xxx-large !important;
}

.mat-card-content {
  margin: auto !important;
  background-color: linen !important;
}

.mat-expansion-panel {
  margin: auto !important;
  background-color: linen !important;
}


.mat-expansion-panel-heading {
  margin: auto !important;
  background-color: linen !important;
}

.mat-panel-title {
  margin: auto !important;
  background-color: linen !important;
  font-family: Menlo !important;
  font-color: navy !important;
  font-size: xx-large !important;
}

html, body {
  display: flex;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: inherit;
  background-color: linen ;
  font-family: Menlo;
  font-color: navy;
  font-size: x-large;
}
