/* You can add global styles to this file, and also import other style files */

/* Target individual tabs */
.mat-mdc-tab.mdc-tab {
  background-color: white !important;
  /* Or whatever color you want */
}

html, body {
  display: flex;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: inherit;
  background-color: linen ;
  font-family: Menlo;
  font-color: navy;
  font-size: x-large;
}
