/* You can add global styles to this file, and also import other style files */

/* Target individual tabs */
.mat-mdc-tab.mdc-tab {
  background-color: white !important;
  /* Or whatever color you want */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Menlo;
  font-size: x-large;
  font-color: black;
}
